@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.card{
	height: 550px;
	width: 350px;
	border-radius: 10px;
	background: #F3F3F3;
	box-shadow: 0px 16px 64px 0px #F3F3F31A;
  font-family: 'Open Sans', Helvetica, sans-serif;
  position: relative;
}
.close{
	position: absolute;
	top: 20px;
	right: 20px;
}
.card-header{
	margin-top: 30px;
	text-align: center;
}

.title{
	color: #004973;
 	font-weight: 600;
	font-size: 25px;
	line-height: 37px;
}
.place{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #004973;
}

.img-wrapper{
	margin: 10px 0;
	padding: 20px;
	/*display: flex;
	justify-content: center;*/
}

.circle{
  height: 160px;
	width: 160px;
	border-radius: 100px;
	background: #C6C6C699;
	margin: 0 auto;
 
 }


.profile{
	height: 50%;
	width: 350px;
	border-radius: 0px 0px 10px 10px;
	background: #004973;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name{
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	color: #FFFFFF;

}

.job{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #C3C3C3;
}

.sign{
	margin-top: 20px;
}